---
import ProjectCard from "../ProjectCard.astro";

import { API_MOCK } from "../../consts";

const projects = API_MOCK.projects
---

<section id="section_projects" class="w-screen h-fit pb-60 z-20 flex justify-center">
    <div class="grid sm:grid-cols-3 gap-10">
        {projects.map((project) => 
            <ProjectCard project={project}/>
        )}
    </div>
</section>
