---
import ProjectCard from "../ProjectCard.astro";

import { API_MOCK } from "../../consts";

const projects = API_MOCK.projects
---

<section id="section_projects" class="w-screen h-fit z-20 flex justify-center">
    <div class="grid sm:grid-cols-3 gap-10">
        {projects.map((project) => 
            <ProjectCard project={project}/>
        )}

        <article id="last-card" class="group w-80 h-40 sm:h-80">
            <a href="./projects" class="w-full h-full flex justify-center items-center blur-filter hover:bg-basegray">
                <h2 class="font-mono tracking-wide text-2xl group-hover:text-white hover:font-bold hover:underline">
                    see more →
                </h2>
            </a>
        </article>
    </div>
</section>
