---
import { WEBSITE_NAME } from '../consts';
import Head from '../components/Head.astro';
import GradientCursor from '../components/p5/GradientCursor';
import HeroSection from '../components/sections/HeroSection.astro';
import ProjectsSection from '../components/sections/ProjectsSection.astro'
import Navigation from '../components/Navigation';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<Head title={WEBSITE_NAME} />
	<body class="bg-lightgray overflow-x-hidden flex flex-col">
		<Navigation desktopHidingThreshold={500} client:only="react" />
		<main class="w-full h-fit flex flex-col sm:pb-36">
			<HeroSection />
			<ProjectsSection />
		</main>
		<Footer />

		{/* background */}
		<GradientCursor sketchID={'wrapper'} client:only="react"/>
	</body>
</html>