<footer class="z-40 w-full flex flex-col">
    <div class='w-full h-48 blur-filter-gradient-up pointer-events-none'></div>
    <div class="w-full h-8 px-10 flex flex-row items-center justify-between bg-basegray text-white font-mono tracking-wide text-sm">
        <p>made with love</p>
        <a href="./contact">(c) tymon zaniewski 2023</a>
    </div>
</footer>